body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: var(--light-grey);
}

.container {
  max-width: 375px;
  background-color: burlywood;
}

h1 {
  text-align: center;
}
#budget,
.controls,
#entry-dropdown {
  border-color: black;
}

.budget {
  margin-left: 20px;
}

.container {
  width: 90%;
  max-width: 680px;
}

h1,
.container,
.output {
  margin: 20px auto;
}

label,
legend {
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--light-yellow);
  border: 2px solid var(--dark-yellow);
}

button,
input,
select {
  min-height: 24px;
  color: var(--dark-blue);
}

fieldset,
label,
button,
input,
select {
  margin-bottom: 10px;
}

.output {
  border: 2px solid var(--light-grey);
  padding: 10px;
  text-align: center;
}

.hide {
  display: none;
}

.output span {
  font-weight: bold;
  font-size: 1.2em;
}

.surplus {
  color: var(--light-pink);
}

.deficit {
  color: var(--light-green);
}

#clear,
#remains,
#add-entry {
  background-color: bisque;
  border-radius: 50px;
}

@media (min-width: 600px) {
  body {
    background-color: black;
  }
  .container {
    background-color: white;
  }
  #clear,
  #remains {
    background-color: burlywood;
  }
  #budget,
  .controls,
  #entry-dropdown {
    border-color: burlywood;
  }
}
